{% extends layout.html %}

{% block title %}Окно в будущее{% end %}

{% block content %}
    <div class="container_16 clearfix">

        <h2 class="luck grid_16">Окно в будущее</h2>

        <div class="clear"></div>
        <div class="big_sep"></div>
        <div class="clear"></div>

        <a href="/auth/vkontakte" class="cta_btn luck">Войти в игру! <br/><span
                class="osans">Экологическая стратегия</span></a>

        <div class="clear"></div>
        <div class="big_sep"></div>
        <div class="clear"></div>

    </div>
    <!--container_16-->
{% end %}